@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url("https://use.typekit.net/uoz6aiu.css");

// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {

	--font-family: roboto, sans-serif;
  --font-family-header: 'Jost', roboto, sans-serif;
	--font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-size-small: 12px;
  
  --color-mint: #C0DDCA;
  --color-teal: #94D0B6;
  --color-emerald: #50b288;
  --color-forest: #4E6362;
  --color-stone: #8C726E;
  --color-strawberry: #F7A7AB;
  --color-watermelon: #DB7077;
  --color-black: #303030;
  --color-white: #FCFCFC;

  --primary-color: var(--color-teal);
  --secondary-color: var(--color-emerald);
  --header-bg: none;
  --bg: #f3f9f5;
  --bg-secondary: #e2f1e7;

  --home-link-color: var(--color-emerald);
  --home-link-hover-color:  var(--primary-color);

  --button-color: var(--color-black);
  --button-alt-color: var(--primary-color);

  --post-link-color: var(--color-black);
  --text-color-meta: #969696;
  --label-text: var(--color-black);
  --input-focus-border: var(--primary-color);
  
  // CSS Grid Utility
  --grid-gap: 42px; 

}