@import "theme-variables";
@import "defaults";
@import "lib/css-grid-utility";


.featured-image-group{
	position: relative;
	.featured-image{
		position: relative;
		z-index: 2;
	}
}

#pp-blob1{
	width: 50%;
	position: absolute;
	top: 0;
	left: -12%;
	z-index: 3;
}

#pp-blob2{
	width: 90%;
	position: absolute;
	top: -15%;
	left: 10%;
	z-index: 1;
}

#pp-blob3{
	width: 30%;
	position: absolute;
	top: 50%;
	left: -10%;
	z-index: 3;
}

main, html{
	background: var(--bg);
	// background: linear-gradient(45deg, var(--bg), var(--bg-secondary));
	color: var(--label-text);
}

h1, h2, h3{
	font-family: var(--font-family-header);
	color: var(--label-text);
}

.primary-container main {
	min-height: calc(100vh - 60px - 81px);
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
	background: var(--header-bg);
  padding: 30px 20px;
}
.site-navigation {
  ul {
    list-style: none;
		margin: 0;
		margin-right: 1rem;
    padding: 0;
  }
  ul li {
    display: inline-block;
		margin-left: 20px;
  }
  a {
    color: var(--label-text);
		text-decoration: none;
		font-weight: 400;
    &:hover {
      color: var(--primary-color);
		}
		&[aria-current="page"]{
			font-weight: 900;
		}
  }
 
  .menu-trigger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--label-text);
    padding: 0;
    cursor: pointer;
  }
  @media (max-width: $breakpoint-lg) {
    .menu-trigger,
    .icon-menu-line {
      display: flex;
    }

    .icon-menu-close {
      display: none;
    }
    .menu-trigger.is-active {
      .icon-menu-line {
        display: none;
      }
      .icon-menu-close {
        display: flex;
      }
    }
    .menu-trigger.is-active + ul {
      display: block;
    }
    ul {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 99999;
			background: var(--bg);
			box-shadow: 0 14px 14px rgba(0,0,0,0.14);
      width: 100%;
      overflow: hidden;
    }
    ul li {
      display: block;
      margin-left: 0;
    }
    a {
      display: block;
			padding: 20px;
			padding-left: 32px;
			transition: all .4s ease;
    }
    a:hover {
			background-color:#94D0B6;
			color: #303030;
    }
  }
}
.container {
	margin: 0 auto;
	max-width: 1240px;
	padding: 0 32px;
}
.site-logo {
	font-family: var(--font-family-header);
	font-weight: 900;
	font-size: 2rem;
  a {
		margin-left: 1rem;
		transition: all .15s ease-in-out;
    color: var(--label-text);
		text-decoration: none;
		&:hover {
			color:  var(--primary-color);
		}
  }
  // @media (max-width: $breakpoint-lg) {
  //   font-size: 2rem;
  // }
}
.home-banner {
	--padding: 32px;
	padding: calc(var(--padding) * 3) var(--padding);
	align-items: center;
	.title {
		font-family: var(--font-family-header);
		font-size: 48px;
		line-height: 48px;
		margin: 0 0 5px;
		font-weight: 700;
	}
	.tagline {
		font-size: 1.75rem;
		margin-top: 0;
		margin-left: 2px;
		font-weight: bold;
		color: var(--color-forest);
	}
	.description {
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 30px;
	}
	.pronunciation{
		text-align: center;
		font-style: italic;
		font-weight: 900;
		font-size: 20px;
		color: var(--home-link-color);
	}
	.featured-image {
		order: 1;
		margin: 32px;
	}
	@media (max-width: $breakpoint-md) {
		padding: 16px;
		padding-top: 64px;
		> div:nth-child(1) {
			padding-bottom: 30px;
		}
	}
}

.home-posts {
	.title {
		font-family: var(--font-family-header);
		font-size: 32px;
		font-weight: 900;
	}
	.grids {
		padding-bottom: 48px;
	}
	.button {
		margin-left: 24px;
	}
	padding-bottom: 100px;
}
.post-card {
	display: flex;
	position: relative;
	top: 0;
	flex-direction: column;
	padding: 24px;
	background: #fff;
	box-shadow: 0px 16px 24px rgba(0,0,0,0.24);
	border-radius: 24px;
	transition: all .3s ease-in-out;
	// transition: box-shadow .3s linear;
	.featured-image {
		border-radius: 12px;
		img {
			display: block;
			margin: 0;
		}
	}
	.title {
		flex-grow: 1;
		font-family: var(--font-family-header);
		color: var(--label-text);
		margin: 0 0 3px;
		font-size: 32px;
		line-height: 30px;
		font-weight: 900;
		a { 
			color: var(--post-link-color);
		}
	}
	&:hover {
		box-shadow: 0px 24px 32px rgba(0,0,0,0.3);
		top: -8px;
		transform: scale(1.025);
		.title {
			color: var(--button-alternate-color);
		}
	}
	.meta {
		margin: 0;
		font-size: 12px;
		color: rgba(0,0,0,0.5);
	}
	.preview {
		margin-bottom: 8px;
		font-size: 20px;
		color: var(--color-forest);
		font-weight: 500;
		line-height: 1;
	}
	.post-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin-top: 16px;
	}
	@media (max-width: $breakpoint-md) {
		padding: 0;
		.post-content {
			padding: 16px;
			margin-top: 0;
		}
		.featured-image {
			border-radius: 12px 12px 0 0;
		}
	}
}
.index-card {
	display: flex;
	position: relative;
	top: 0;
	flex-direction: column;
	max-width: 40vw;
	padding: 32px;
	background: #fff;
	box-shadow: 0px 16px 24px rgba(0,0,0,0.24);
	margin-bottom: 64px;
	border-radius: 24px;
	transition: all .3s ease-in-out;
	// transition: box-shadow .3s linear;
	p {
		margin-top: 0;
		margin-bottom: 0;
	}
	ul {
		margin: 8px;
	}
	.featured-image {
		border-radius: 12px;
		img {
			display: block;
			margin: 0;
		}
	}
	.title {
		flex-grow: 1;
		font-family: var(--font-family-header);
		color: var(--label-text);
		margin: 0 0 16px;
		font-size: 32px;
		line-height: 30px;
		font-weight: 700;
		a { 
			color: var(--post-link-color);
		}
	}
	.meta {
		margin: 0;
		font-size: 12px;
		color: rgba(0,0,0,0.5);
	}
	.preview {
		margin-bottom: 32px;
		font-size: 20px;
		color: var(--color-forest);
		font-weight: 500;
		line-height: 1;
	}
	.post-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		margin-top: 16px;
	}
	@media (max-width: $breakpoint-md) {
		padding: 24px;
		margin-bottom: 32px;
		max-width: none;
		.post-content {
			padding: 16px;
			margin-top: 0;
		}
		.featured-image {
			border-radius: 12px 12px 0 0;
		}
	}
}
.article-header {
  padding: 35px 0;
  text-align: center;
  margin: 0 auto;
  h1 {
		font-size: 36px;
    font-size: clamp(18px, calc(1rem + 2vw), 36px);
    margin: 0 auto 6px;
    max-width: 768px;
    line-height: 1.3;
    font-weight: 600;
  }
  time {
    font-size: 14px;
    color: rgba(0,0,0,0.6)
  }
}
@media (max-width: $breakpoint-sm) {
  .post-card .featured-image {
    min-height: 300px;
  }
}
article figure {
	margin: 40px 0;
	text-align: center;
	figcaption {
			font-size: var(--font-size-small);
			color: var(--text-color-meta);
			margin-top: 5px;
	}
}
article blockquote {
	margin-left: 0;
	padding: 5px 5px 5px 20px;
	background-color: #f2f2f2;
	border-left: 3px solid rgba(0,0,0,0.1);
}
article iframe {
	border: 2px solid black;
	box-sizing: border-box;
}
article img {
	max-width: 100%;
}
.blog-post-content {
	max-width: 70ch;
	margin:0 auto;
	padding: 20px;
	line-height: 1.5;
	font-size: 20px;
}

.blog-post {
	.featured-image {
		min-height: 50vh;
		border-radius: 12px;
	}
}
// Buttons 
.button {
	--padding: 0.75rem;
	--margin: 0.5rem;
	display: inline-flex;
	align-items: center;
	padding: var(--padding) calc(var(--padding) * 2);
	background-color: var(--button-color);
	border: var(--button-color) solid 2px;
	box-shadow: 0px 8px 12px rgba(#303030,0.3);
	color: #fff;
	border-radius: 9999px;
	text-decoration: none;
	appearance: none;
	font-size: inherit;
	font-weight: 700;
	line-height: 1;
	transition: all .3s ease-in-out;
	&:hover {
		background-color: var(--secondary-color);
		border-color: var(--secondary-color);
		box-shadow: 0px 8px 12px rgba(#94D0B6,0.6);
		color: #fff;
	}
	&.-outline {
		color: var(--button-color);
		border: var(--button-color) solid 2px;
		background: var(--bg);
		box-shadow: none;
		&:hover {
			color: var(--secondary-color);
			border-color: var(--secondary-color);
			box-shadow: 0px 8px 12px rgba(#94D0B6,0.6);
		}
	}
	& + .button {
		margin-left: 20px;
	}
	.icon {
		display: inline-flex;
		&.-right {
			margin-left: var(--margin);
		}
		&.-left {
			margin-right: var(--margin);
		}
	}
}

// Page
.page,
.blog-page,
.contact-page,
.thanks-page,
.not-found-page {
	padding: 64px;
	.title {
		font-family: var(--font-family-header);
		color: var(--label-text);
	}
	.wrapper {
		max-width: 768px;
		margin: 0 auto;
	}
}
// Contact page
.contact-page {
	.wrapper {
		max-width: 768px;
		margin: 0 auto;
	}
	.description {
		line-height: 1.5;
	}
}
.contact-form {
	margin-top: 36px;
	label {
		color: var(--label-text);
	}
	input,
	textarea {
		width: 100%;
		max-width: 100%;
		margin: 8px 0 16px;
		padding: 16px;
		border: 6px solid #A4A89760;
		border-radius: 12px;
		appearance: none;
		font-size: 18px;
		font-weight: 600;
		transition: all .3s linear;
		&:focus {
			border-color: var(--input-focus-border);
		}
	}
	textarea {
		min-height: 200px;
	}
}
.site-footer {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 14px;
	padding: 20px 0;
	background: var(--header-bg);
	p {
		margin: 0;
		color: var(--color-forest);
	}
	a {
		font-weight: normal;
	}
}

.pagination {
	text-align: center;
	padding: 50px 0;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		display: inline-block;
		margin: 0 5px;
	}
	a {
		display: inline-block;
		padding: 10px 20px;
		font-weight: bold;
		line-height: 1;
		&.is-active {
			color: var(--header-bg);
			pointer-events: none;
		}
	}
	&.-post {
		text-align: inherit;
		padding: 20px 0;
		border-top: 1px solid rgba(0,0,0,0.1);
		margin: 50px 0 0;
		ul {
			display: flex;
			justify-content: space-between;
		}
		li:nth-child(1) {
			text-align: left;
		}
		li:nth-child(2) {
			text-align: right;
		}
		p {
			font-size: 14px;
			margin: 0 0 5px;
			color: rgba(0,0,0,0.5);
		}
		a {
			font-weight: normal;
			font-size: 16px;
			padding: 0;
		}
		.page-title {
			line-height: 1.3;
		}
	}
	@media (max-width: $breakpoint-md) {
		padding: 50px 0
		ul {
			display: flex;
			justify-content: space-between;
		}
		&.-post ul {
			display: grid;
			justify-content: normal;
			a {
				padding: 20px;
				border: 1px solid rgba(0,0,0,0.1);
				display: block;
				margin-bottom: 10px;
				background: #fafafa;
			}
		}
		.num {
			display: none;
		}
	}
}

@import "utility";

// Libraries
@import "lib/prism-default"

